@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'RobotoMono', 'monospace';
}
body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(83, 105, 188),
    rgb(41, 46, 73)
  );
}
